<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="abc">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="containter">
        <div class="header">
            <div class="logo">
                <img class="logo-shop" src="img/logoshop.png" alt="logo shop">
                <img class="background-logo-img" src="img/rainbow.gif" alt="background gif">
                <img class="decor-right" src="img/decor-right.png" alt="">                 
            </div>
            <div class="shop-name">
                <h1><span>N</span>avosi Shop</h1>
            </div>
        </div>
        <div class="menu">
            <ul class="main-menu">
                <li><a href="">Không biết 1</a>
                    <ul class="sub-menu">
                        <li><a href="">Danh mục không biết 1.1</a></li>
                    </ul>
                </li>
                <li><a href="">Không biết 2</a>
                    <ul class="sub-menu">
                        <li><a href="">Danh mục không biết 2.1</a></li>
                    </ul>
                </li>
                <li><a href="">Không biết 3</a>
                    <ul class="sub-menu">
                        <li><a href="">Danh mục không biết 3.1</a></li>
                    </ul>
                /                                       </li>
                <li><a href="">Không biết 4</a>
                    <ul class="sub-menu">
                        <li><a href="">Danh mục không biết 4.1</a></li>
                    </ul>
                </li>
                <li><a href="">Không biết 5</a>
                    <ul class="sub-menu">
                        <li><a href="">Danh mục không biết 5.1</a></li>
                    </ul>
                </li>
                <li><a href="">Không biết 6</a>
                    <ul class="sub-menu">
                        <li><a href="">Danh mục không biết 6.1</a></li>
                    </ul>
                </li>
            </ul>
        </div>        <div class="content">
            <div class="detail-left">
                <img class="img-detail" src="/img/product-unknow.jpg" alt="Sản phẩm chưa biết tên">
            </div>  
            <div class="detail-right">
                <h2 class="product-name-detail">Tên sản phẩm</h2>
                <p class="price-detail">???.??? VND</p>
                <p class="description">Đây là một cái gì đó</p>
                <a href="" class="buy-detail">Đặt mua</a>
            </div>
        </div>
        <div class="footer">
            <p class="info">date created:12/8/2020 <br>by: toanvan</p>
        </div>
    </div>
</body>
</html>